# TheHive
THEHIVE_SECRET=change-this-to-a-random-secret

# MinIO / TheHive object storage
MINIO_ROOT_USER=change-me
MINIO_ROOT_PASSWORD=change-me

# MISP database
MISP_DB_PASSWORD=change-me
MISP_DB_ROOT_PASSWORD=change-me

# MISP administrator
MISP_ADMIN_EMAIL=admin@example.com
MISP_ADMIN_PASSPHRASE=change-me

# MISP application
MISP_BASEURL=localhost
MISP_HOSTNAME=https://localhost

# System timezone
TIMEZONE=Asia/Kolkata

# MISP security
# Generate a unique random value for your deployment.
MISP_SECURITY_SALT=change-me-to-a-random-unique-value
